<ion-view class="brewery-detail-view" hide-nav-bar="true" can-swipe-back="false">
    <div class="bar bar-header main-navbar">
        <button class="button pull-left back-btn" ng-click="goBack()"><i style="margin-left: 1px; color: white; font-size: 12px !important;" class="fa fa-arrow-left fa-1x fa-fw"></i> Back</button>
        <button class="button pull-right refresh-btn" ng-click="goHome()">Home<i style="margin-left: 1px; color: white; font-size: 14px !important;" class="fa fa-home fa-1x fa-fw"></i></button>
    </div>

    <ion-content ng-show="is_loaded" padding="false" class="has-header" scroll="true" style="padding-top: 20px;">

        <!--Start of brewery Detail section-->
        <div class="list brewery-detail">
            <span class="brewery-title" style="font-size: 18px;">{{brewery.name}}</span>
            <p class="brewery-detail-desc hour-msg" ng-bind-html="hour_msg"></p>
            <div class="row">
                <div class="col col-67">
                    <p class="brewery-contact-info">{{brewery.address}}</p>
                    <a class="brewery-contact-info" style="color: #387ef5; text-decoration: none;" ng-href="{{ formattedPhone }}">{{ brewery.phone }}</a>
                </div>
                <div class="col col-33">
                    <button class="btn btn-primary btn-sm go-button pull-right" ng-click="navigateTo(brewery.geolat,brewery.geolong)">
                        Directions
                        <br />
                        <i class="fa fa-map-marker"></i>
                        <span class="loading distance-text" ng-if="distance != ''">{{ distance }}</span>
                    </button>
                </div>
            </div>
        </div>
        <!--End of brewery Detail section-->

        <!--Start of Brewery Special section-->
        <div class="list" ng-if="specials && specials.length > 0">
            <div class="item item-thumbnail-left brewery-special" ng-repeat="special in specials" ng-click="specialRedeem(special)">
                <img class="" src="img/icons/glass_pour.svg" />
                <div class="col-xs-10 style-link-container">
                    <p class="special-title-on-detail">
                        {{ special.description }}
                    </p>
                </div>
            </div>
        </div>
        <!--End of Brewery Special section-->

        <!--Start of brewery-item feature section-->
        <div class="list brewery-middle">
            <div class="item row item-thumbnail-right" href="#">
                <div class="col col-60 featured-item-container">
                    <div ng-if="brewery.entertainment !== undefined" class="feature-item" ng-repeat="entertainment in brewery.entertainment.split(',')">
                        <i class="fa fa-check-circle" style="margin-right: 5px;"></i>{{ entertainment.trim() }}
                    </div>
                    <div ng-if="brewery.LWC" class="feature-item feature-item-living-wage">
                        <i class="fa fa-check-circle pull-left"></i>
                        <span class="col-xs-5 pull-left">Living Wage Certified</span>
                    </div>
                </div>

                <div class="col col-40">
                    <div ng-if="brewery.featured_image != null || brewery.listing_logo != null" class="brewery-logo-container">
                        <img ng-if="brewery.featured_image != false" class="brewery-fulllogo" ng-src="{{brewery.featured_image | trustUrl }}" />
                        <img ng-if="brewery.featured_image == false && brewery.listing_logo != null" class="brewery-fulllogo" ng-src="{{brewery.listing_logo | trustUrl }}" />
                    </div>
                </div>
            </div>
        </div>
        <!--End of brewery-item feature section-->

        <!-- Start of On tap section, this will be redesigned later-->
        <div class="list brewery-on-tap" ng-if="beers !== null && beers.length > 0">
            <div class="item">
                <span class="tab-header">What's on Tap</span>
                <ul class="list" ng-if="beers.length > 0 && ! refreshingBeers">
                    <li ng-repeat="beer in beers" class="item find-beer-row item-icon-right" ng-click="showBeer( beer.id )">
                        <div class="beer-row" ng-if="beer.name != ''">
                            <div ng-if="favorite_mode && (beer.brewery[0].featured_image != null || beer.brewery[0].logo != null || beer.featured_image != null)" class="col-xs-3">
                                <img ng-if="beer.brewery[0].featured_image != false" class="beer-row-image" ng-src="{{beer.brewery[0].featured_image | trustUrl }}" />
                                <img ng-if="beer.brewery[0].featured_image == false && beer.brewery[0].logo != null" class="beer-row-image" ng-src="{{beer.brewery[0].logo | trustUrl }}" />
                                <img ng-if="beer.brewery[0].featured_image == false && beer.brewery[0].logo == null && beer.display_image" class="beer-row-image" ng-src="{{ beer.display_image }}">
                            </div>
                            <div>
                                <div>
                                    <!--<i class="brewery-detail-arrow-right arrow-icon icon ion-ios-arrow-right icon-accessory"></i>-->
                                    <i class="brewery-detail-arrow-right icon ion-chevron-right"></i>
                                    <div class="title">
                                        <p ng-bind-html="beer.name" class="beer-list-name"></p>
                                        <p ng-bind-html="beer.brewery[0].post_title" class="beer-list-brewery"></p>

                                        <p ng-if="! searchTerm && beer.abv.trim().length > 0" class="beer-list-abv">
                                            ABV: <span>{{ beer.abv }}%</span>
                                        </p>

                                        <p ng-if="! searchTerm && beer.style !== undefined" class="beer-list-style">
                                            <span class="style">
                                            {{ beer.style[0].post_title }}
                                        </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="">
                    <a href="#!/comment" class="style-link beer-correct-link" style="margin: 10px auto; display: block;">
                        Is this beer info correct? Please let us know here!
                    </a>
                </div>
            </div>
        </div>
        <!--End of On Tap section-->

        <!--Start of brewery podcast section-->
        <div class="list brewery-podcast" ng-show="podcast_items.length > 0">
            <span class="brewery-podcast-header">Drink Local Now Podcast</span>
            <a class="brewery-podcast-item item item-thumbnail-left item-icon-right" ng-repeat="podcast in podcast_items" ng-click="showPodcastItem( podcast.id )">
                <img ng-if="podcast.featured_image != false" class="community-event-picture" ng-src="{{ podcast.featured_image | trustUrl  }}" />
                <img ng-if="podcast.featured_image == false && podcast.image_url != null" class="community-event-picture" ng-src="{{ podcast.image_url | trustUrl  }}" />

                <span class="brewery-podcast-post-title">{{podcast.post_title}}</span><br>
                <p style="font-size: 0.8em;">{{podcast.short_description | limitTo : 71}}...</p>
                <!--<i class=" arrow-icon icon ion-ios-arrow-right icon-accessory"></i>-->
                <i class="icon ion-chevron-right" style="font-size: 20px; right: 5px !important"></i>
            </a>
        </div>
        <!--Start of brewery podcast section-->

        <div class="list brewery-community-event" ng-if="community_events.length > 0">
            <span class="brewery-community-header">Upcoming Events</span>
            <a class="brewery-event-item item item-thumbnail-left item-icon-right" ng-click="showCommunityEvent(community_event.id)" ng-repeat="community_event in community_events">

                <img class="community-event-picture" ng-src="{{ community_event.featured_image }}" />
                <div class="community-event-date-overlay">
                    {{ community_event.EventStartDate | date:'MMM' }}<br /> {{ community_event.EventStartDate | date:'d' }}
                </div>

                <div class="item-arrow pull-right" style="position: absolute; right: 5px; top: 10px;" ng-if="false && community_event_parse_data_array[community_event.id] != null">
                    <img class="glass-pour-icon" src="img/icons/glass_pour.svg" />
                </div>


                <span class="community-event-name">{{community_event.name}}</span>
                <p style="margin-top: 5px; font-size:12px;">
                    {{ community_event.EventStartDate | date:'mediumDate' }} at {{ community_event.EventStartDate + "T" + community_event.EventStartTime | date:'shortTime' }}
                </p>
                <p style="font-weight:12px;" class="community-event-location">{{ community_event.place.name }}</p>
                <i ng-if="true || community_event_parse_data_array[community_event.id] == null" class="icon ion-chevron-right" style="font-size: 20px; right: 5px !important"></i>
            </a>
            <div class="row">
                <p style="text-align: center">
                    To add your community beer event,
                    <a ui-sref="comment" class="community-event-link">
                        let us know here
                    </a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>