<ion-view hide-nav-bar="true" can-swipe-back="false">
    <div class="bar bar-header main-navbar">
        <button class="button pull-left back-btn" ng-click="goBack()"><i style="margin-left: 1px; color: white; font-size: 12px !important;" class="fa fa-arrow-left fa-1x fa-fw"></i> Back</button>
        <h5 style="color: white" class="title">INFO</h5>
        <button class="button pull-right refresh-btn" ng-click="goHome()">Home<i style="margin-left: 1px; color: white; font-size: 14px !important;" class="fa fa-home fa-1x fa-fw"></i></button>
    </div>
    <ion-content class="info-view has-header" scroll="true" padding="true">
        <div id="infoview">
            <a ui-sref="comment" class="style-link" style="margin-bottom: 10px; display: block; font-size: 18px;">Please contact us here.</a>
            <p>Long ago, thirsty souls were forced to travel countless miles to find worthy ales on tap in the village of Asheville. During this quaint era – the 20th century – these pub taverns were coveted by the masses.</p>
            <p>But change was brewing in Buncombe County and the Craft Beer Revolution marked a new era of offerings. Now those pioneering pubs have been joined by a group of magical new breweries that serve special barley-and-hops elixirs to every lad and
                lady in the land.</p>
            <p style="min-height: 100px;">And now, behold: Brewpon has been born. This long-sought resource brings our denizens of craft beer devotees together for a pint – whether at a local brewery, eatery or pub.</p>
        </div>
    </ion-content>
</ion-view>