<ion-view class="podcast-list-view" hide-nav-bar="true" title="PODCASTS" can-swipe-back="false">
    <div class="bar bar-header main-navbar">
        <button class="button pull-left back-btn" ng-click="goBack()"><i style="margin-left: 1px; color: white; font-size: 12px !important;" class="fa fa-arrow-left fa-1x fa-fw"></i> Back</button>
        <h5 style="color: white" class="title">PODCASTS</h5>
        <button class="button pull-right refresh-btn" ng-click="goHome()">Home<i style="margin-left: 1px; color: white; font-size: 14px !important;" class="fa fa-home fa-1x fa-fw"></i></button>
    </div>
    <ion-content padding="false" scroll="true" class="has-header">
        <div class="list podcast-list" ng-if="podcasts.length > 0">
            <div class="container brewpon-header-community-events-container">
                <h4 class="todays-brewpons-header brewpon-header-community-events">
                    Drink Local Now
                </h4>
            </div>
            <a class="podcast-item item item-thumbnail-left item-icon-right" ng-click="showPodcastItem('{{ podcast.ID }}')" ng-repeat="podcast in podcasts">
                <img ng-if="podcast.featured_image != false" class="podcast-item-picture" ng-src="{{ podcast.featured_image | trustUrl  }}" />
                <img ng-if="podcast.featured_image == false && podcast.image_url != null" class="podcast-item-picture" ng-src="{{ podcast.image_url | trustUrl  }}" />
                <div class="podcast-date-overlay" ng-show="{{ podcast.image_url != '' || podcast.featured_iamge != false }}">
                    {{ podcast.date | date:'MMM' }}<br /> {{ podcast.date | date:'d' }}
                </div>
                <span class="podcast-title">{{ podcast.post_title }}</span>
                <p style="font-size: 0.8em;" class="podcast-short-description">{{podcast.short_description | limitTo : 71}}...</p>
                <i ng-if="true || community_event_parse_data_array[community_event.id] == null" class="icon ion-chevron-right" style="font-size: 20px; right: 5px !important"></i>
            </a>
        </div>
    </ion-content>
</ion-view>